$small: 500px;
$medium: 768px;
$large: 1000px;

@mixin media($width) {
  @media (min-width:#{$width}) {
    @content;
  }
}

@mixin desktop-tile {
  margin: 0;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  background-color: var(--white);
  padding: 2rem 1rem;
}
