@import "mq.scss";

.landing-heading {
  max-width: 75%;
  margin-top: 0;
  max-width: $small;

  margin: 1.5rem auto;
  @include media($small) {
    text-align: center;
  }
}

.sign-in-section {
  border: 5px solid var(--purple);
  border-radius: 3px;
  padding: 2rem 1rem;
  background-color: var(--white);
  position: relative;
  z-index: 1;
  max-width: 500px;
  margin: 1.5rem auto;
  @include media($small) {
    margin-top: 2rem;
  }
  @include media($large) {
    margin-top: 3rem;
  }
}
.user-svg {
  color: var(--gray);
  width: 75px;
  margin: 0 auto;
  display: block;
}
