/* stylelint-disable */
//@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");
/* stylelint-enable*/
@import "./css/mq";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* variables*/
:root {
  --dark-purple: #9163f2;
  --purple: #8480f2;
  --blue: #30a8f2;
  --blue-green: #32bad9;
  --green: #48d9ca;
  --dark-green: #3fbbaf;
  --white: #fcfcfc;
  --gray: #eeebfc;
  --red: #e61616;
  --font: "Quicksand", "Segoe UI", "Helvetica Neue", sans-serif;
  --bold: 700;
  --regular: 500;
  --light: 300;
  --border-black: 3px solid black;
  --radius: 3px;
}
h1,
h2,
h3 {
  margin-bottom: 0;
}
* + * {
  margin-top: 1.5rem;
}
body {
  margin: 0;
  position: relative;
  max-height: 100vh;
  font-family: var(--font);
  font-weight: var(--regular);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.3;
}
#root {
  margin: 0;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}
div.diagonal::before {
  content: "";
  position: absolute;
  height: 60vh;
  width: 100%;
  display: block;
  background: #8480f2;
  background: linear-gradient(16deg, #8480f2 0%, #48d9ca 100%);
  bottom: -30%;
  left: 0;
  transform: rotate(-15deg);
  transform: skewY(-15deg);
}
h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: var(--bold);
}
strong {
  color: var(--dark-purple);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-pattern {
  background-color: #fcfcfc;
  background-image: url("./img/topography.svg");
  background-size: 100%;
}
.wrapper {
  margin: 0;
  min-height: 100%;
  padding: 2.5rem 1rem 3rem;
  margin-bottom: 3rem;
  @include media($medium) {
    overflow: hidden;
  }
}
.bg-green {
  background-color: var(--green);
}
.bg-blue-green {
  background-color: var(--blue-green);
}
.bg-purple {
  background-color: var(--dark-purple);
}
.bg-blue {
  background-color: var(--blue);
}
.btn {
  border-radius: 3px;
  border: none;
  display: block;
  width: 100%;
  text-align: center;
  padding: 0.7em 0;
  color: var(--white);
  font-size: 1.3rem;
  transition: all cubic-bezier(0, 0.66, 0.65, 1.51) 300ms;

  &:any-link {
    color: var(--white);
  }
  /* &:hover {
    transform: scale(1.02);
    box-shadow: 0px 6px 8px -6px rgba(0, 0, 0, 0.57);
  }*/
}
:any-link {
  color: var(--dark-green);
  text-decoration: none;
}

.close-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-left: auto;
  display: block;
  border: none;
  padding: 0;
  line-height: 1.5rem;
  width: 1.5rem;
  background-color: transparent;
  appearance: none;
  font-size: 1.5rem;

  transform-origin: 0.75rem 0.75rem;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  &:hover,
  &:focus {
    color: var(--red);
    cursor: pointer;
    transform: rotate(180deg) scale(1.2);
    border: none;
    outline: none;
  }
}
label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 1.5rem;
}

input {
  margin-top: 0.5rem;
  padding: 0.7em 0.3em;
  border-radius: 3px;
  font-size: 1.3rem;
  border: 3px solid var(--purple);
}
.calories {
  font-size: 3rem;
  font-weight: var(--bold);
  text-align: center;
  display: block;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
